{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content content-wrap margin--center spacing--vert-4 spacing--gutter">

				<h1 class="text--center h2 font--din color--gold text--uppercase">{{vines.title}}</h1>
				<div class="">{{vines.description}}</div>
				<hr class="color--gold-dark inline margin--vert-3"> 
				
			</section>
			{% if vines.map %}
	<div class="content-wrap margin--center"><img src="{{vines.map|resize(100)}}" data-original="{{vines.map|resize(1320)}}" width="100%" alt=""></div>
{% endif %}
			<section class="section--land-wrap" style="background-image:url('{{vines.image}}')">
			{% for land in vines.land %}
				{% include 'components/sections/section--vine-land.twig' %}
			{% endfor %}
		</section>
		</article>
{% endblock %}