<section class="section--home-hero spacing--gutter">
	<img src="{{home.hero.image|resize(300,200)}}" data-original="{{home.hero.image|resize(1333, 888)}}" alt="{{home.hero.image.caption}}" data-original-set="{{home.hero.image|resize(1138, 753)}} 640w, {{home.hero.image|resize(1333, 888)}} 750w, {{home.hero.image|resize(1920,1280)}} 1080w, {{home.hero.image|resize(2560,1695)}} 2880w" sizes="100vw">
	<h2 class="color--white h1 grid--half">{{home.hero.title}}</h2>
</section>