<section class="block--footer-social grid--third grid--sm-fifth grid--md-seventh">
	<div class="font--small font--din color--black text--uppercase">Follow</div>
	{% if options.social.facebook.url %}<a href="{{options.social.facebook.url}}" target="{{options.social.facebook.target}}" title="{{options.social.facebook.title}}"><i class="icon-social--facebook" data-grunticon-embed></i></a>{% endif %}
	{% if options.social.instagram.url %}<a href="{{options.social.instagram.url}}" target="{{options.social.instagram.target}}" title="{{options.social.instagram.title}}"><i class="icon-social--instagram" data-grunticon-embed></i></a>{% endif %}
</section>